<!-- views/logins.ejs -->

<html lang="en">
<%- include('./partials/style.ejs') %>
<%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/nav.ejs', { isSearchPage: false }) %>
    <div class="logins content">
        <!-- Render the message passed into the file-->

        <form action="/logins" method="POST">
            <b>Login: </b></br>
            </br>

            <label>Username:
                <input type="text" id="username" name="username" required>
            </label>
            <label>Email:
                <input type="email" id="email" name="email" value="<%= locals.email %>" required>
            </label>
            <label>Password:
                <input type="password" id="password" name="password_hash" required>
            </label>
            </br>
            <button type="submit">POST</button>
        </form>
    </div>
    <%- include('./partials/foot.ejs') %>
</body>
</html>
