<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Search Results</title>
    <%- include('./partials/style.ejs') %> <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <%- include('./partials/nav.ejs', { isSearchPage: false, user: user }) %>
    <header>
      <h1>Search Results</h1>
    </header>

    <main>
      <% if (postgresResults.length > 0) { %>
      <h2>PostgreSQL Results</h2>
      <ul>
        <% postgresResults.forEach(result => { %>
        <li>
          <!-- Display relevant information about each search result from PostgreSQL -->
          <p><strong>Make:</strong> <%= result.make %></p>
          <p><strong>Model:</strong> <%= result.model %></p>
          <p><strong>Color:</strong> <%= result.color %></p>
          <p><strong>Price:</strong> <%= result.price %></p>
          <p><strong>Fuel Type:</strong> <%= result.fuel_type %></p>
          <!-- Add more details as needed based on your PostgreSQL data structure -->
        </li>
        <% }); %>
      </ul>
      <% } %> <% if (mongodbResults.length > 0) { %>
      <h2>MongoDB Results</h2>
      <ul>
        <% mongodbResults.forEach(result => { %>
        <li>
          <!-- Display relevant information about each search result from MongoDB -->
          <p><strong>Make:</strong> <%= result.car_make %></p>
          <p><strong>Model:</strong> <%= result.car_model %></p>
          <p><strong>Wheel Type:</strong> <%= result.wheel_type %></p>
          <p><strong>Exhaust Type:</strong> <%= result.exhaust_type %></p>
          <p><strong>Tire Brand:</strong> <%= result.tire_brand %></p>
          <p><strong>Tire Size:</strong> <%= result.tire_size %></p>
          <p><strong>Suspension Type:</strong> <%= result.suspension_type %></p>
          <p><strong>Brake System:</strong> <%= result.brake_system %></p>
          <p><strong>Engine Tuning:</strong> <%= result.engine_tuning %></p>
          <!-- Add more details as needed based on your MongoDB data structure -->
        </li>
        <% }); %>
      </ul>
      <% } else if (postgresResults.length === 0 && mongodbResults.length === 0)
      { %>
      <p>No results found.</p>
      <% } %>
    </main>
    <%- include('./partials/foot.ejs') %>
  </body>
</html>
